@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto-Bold.ttf);
    font-weight: 700;
}