/* Адаптив */
/* ____________________________________________________________________________________________ */
    @media(max-width: 1300px){
        .course-buy__title{
            padding: 7px 15px;
        }
        }
        /* ____________________________________________________________________________________________ */
    @media(max-width: 1140px) {
        .login__title{
            padding: 5px 15px;
            font-size: 20px;
        }
        .header__link{
                margin-right: 28px;
        }
        .header{
            height: 60vh;
        }
        .header__content{
            height: 45vh;
        }
        .earned {
            max-width: 500px;
        }
        .about-content {
            margin: 69px 0 0 100px;
        }
    }
    /* ____________________________________________________________________________________________ */
    @media(max-width:1110px){
        .about-content__title{
            margin-bottom: 20px;
        }
        .section__title{
            font-size: 40px;
            line-height: 50px;
        }
    }
    /* ____________________________________________________________________________________________ */
    @media(max-width:1080px) {
        .header__logo img{
            width: 60px;
            height: 60px;
        }
        .microheadernav {
            display: none;
            justify-content: none;
        }
        .header__nav{
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            width: max-content;
            height: 100vh;
            background: rgba(0, 0, 0, 0.9);
        }
        .header__list{
            text-align: center;
            flex-direction: column;
        }
        .header__link {
            margin-right: 0;
            padding: 35px 0;
            font-size: 45px;
        }
        .btn{
            display: flex;
        }
        #check:checked ~ .microheadernav {
            display: flex;
        }
        #check:checked ~ .btn .bars {
            height: 0;
        }
        #check:checked ~ .btn .bars::before {
            transform: rotate(45deg);
            top: 0;
        }
        #check:checked ~ .btn .bars::after {
            transform: rotate(-45deg);
            top: 0;
        }
        #check:checked ~ .btn {
            border: 3px solid #fff;
        }
        .timer__block{
            width: 80px;
            height: 90px;
            margin-right: 10px;
            padding: 10px 10px;
        }
        .header__timer{
            max-width: 400px;
            margin-top: 25px;
        }
        .timer__title {
            font-size: 36px;
            line-height: 50px;
        }
        .footer,.teachers,.program,.advantages,.start,.about{
            margin-top: 80px;
        }
        .partners{
            margin-top: 80px;
        }
        .start__descr{
            margin: 25px 0 40px;
        }
        .start-content__title {
            font-size: 27px;
        }
        .advantages-content {
            margin-top: 70px;
        }
    }
    /* ____________________________________________________________________________________________ */
    @media(max-width:940px) {
        .square{
            width: 400px;
            height: 400px;
        }
        .About__img {
            margin-top: 70px;
            margin-left: 20px;
            width: 340px;
            height: 340px;
    }
        .earned {
            max-width: 400px;
        }
        .partners-content__img img {
            width: 145px;
            height: 70px;
        }
        .partners-content-stick {
            height: 132px;
        }
    }
    /* ____________________________________________________________________________________________ */
    @media(max-width:910px) {
        .about-content {
            margin: 30px 0 0 50px;
        }
        .advantages-content__title {
            font-size: 20px;
            line-height: 25px;
            margin: 30px 0 15px;
        }
        .advantages-content {
            margin-top: 50px;
        }
        .advantages-content__img{
            width: 80px;
            height: 80px;
        }
    }
    /* ____________________________________________________________________________________________ */
    @media(max-width:810px) {
        .header {
            height: 40vh;
        }
        .header__content {
            height: 40vh;
        }
        .header__title{
            font-size: 35px;
        }
        .earned {
            max-width: 300px;
        }
        .square{
            width: 300px;
            height: 300px;
        }
        .About__img {
            margin-top: 50px;
            margin-left: 15px;
            width: 270px;
            height: 270px;
    }
    .about-content {
        margin: 10px 0 0 30px;
    }
    .about-content__title {
        margin-bottom: 10px;
    }
    .section__title{
        font-size: 30px;
    }
    .section__descr{
        font-size: 15px;
        line-height: 15px;
    }
    .header__nav{
        padding: 20px 40px;
    }
    .section__img{
        height: 60px;
        width: 60px;
    }
    .start-content__square-space {
        margin: 20px 0 30px;
        height: 60px;
    }
    .program__title {
        margin: 30px 0 30px;
    }
    .program__img{
        height: 80px;
        width: 80px;
    }
    .footer__descr {
        margin: 15px 0 30px;
    }
    .footer-soc {
        margin: 30px 0 40px;
    }
    }
    /* ____________________________________________________________________________________________ */
    @media(max-width:740px) {
        .program-time-left-week {
            margin-top: 55px;
        }
        .program-time-right-week {
            margin-top: 55px;
        }
        .timeline {
            height: 580px;
        }
        .program-time-left__title {
            font-size: 15px;
        }
        .program-time-right__title {
            font-size: 15px;
        }
        .program-time-left__descr {
            font-size: 12px;
        }
        .program-time-right__descr {
            font-size: 12px;
        }
        .program-time-left-week__content {
            margin-right: 15px;
        }
        .program-time-right-week__content {
            margin-left: 20px;
        }
        .teachers-teacher:first-child {
            margin-left: 10px;
        }
        .teachers__content {
            margin-top: 50px;
        }
        .teachers-teacher__img {
            max-width: 140px;
        }
        .teachers-teacher__title {
            margin-top: 20px;
        }
        .teacher-teacher__descr {
            margin: 10px 0 15px;
        }
        .teachers-teacher__title {
            font-size: 20px;
        }
        .teacher-teacher__bio {
            padding: 5px 20px;
        }
    }
    /* ____________________________________________________________________________________________ */
    @media(max-width:720px) {
        .curse-info__container {
            padding: 20px 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .footer,.teachers,.program,.advantages,.start,.about{
            margin-top: 80px;
        }
        .partners{
            margin-top: 50px;
        }
        .earned {
            max-width: 250px;
        }
        .earned__descr,.earned-band ,.earned-band-goal ,.course-members__link{
            font-size: 13px;
            line-height: 10px;
        }
        .earned-band {
            margin: 5px 0 5px 0;
        }
        .course-buy__title {
            padding: 5px 12px;
            font-size: 13px;
        }
        .section__descr {
            font-size: 12px;
        }
    }
    /* ____________________________________________________________________________________________ */
    @media(max-width:680px) {
        .header__title {
            font-size: 30px;
            line-height: 30px;
        }
        .header__timer {
            max-width: 300px;
            margin-top: 20px;
        }
        .timer__block {
            width: 60px;
            height: 65px;
            margin-right: 5px;
            padding: 5px;
        }
        .timer__title {
            font-size: 25px;
            line-height: 30px;
        }
        .timer__descr {
            font-size: 12px;
            line-height:15px;
        }
        .partners-content__img img {
            width: 125px;
            height: 60px;
        }
        .partners-content__img{
            padding: 15px 0;
        }
        .partners-content-stick {
            height: 94px;
        }
        .partners-content {
            margin-top: 30px;
        }
    }
/* ____________________________________________________________________________________________ */
    @media(max-width:660px) {
        .square{
            width: 250px;
            height: 250px;
            padding: 20px;
        }
        .About__img {
            margin-top: 30px;
            margin-left: 10px;
            width: 230px;
            height: 230px;
    }
        .about-content__title {
            margin-bottom: 5px;
        }
        .section__title{
            font-size: 20px;
            line-height: 30px;
        }
        .section__descr{
            font-size: 12px;
        }
        .start-content__title {
            font-size: 23px;
        }
        .section__img {
            height: 40px;
            width: 40px;
        }
        .start-title__title {
            margin: 8px 0 0 10px;
        }
        .advantages-content__img{
            width: 60px;
            height: 60px;
        }
        .advantages-content__title {
            font-size: 15px;
            margin: 15px 0 8px;
            line-height: 18px;
        }
        .partners-content__img img {
            width: 100px;
            height: 50px;
        }
        .partners-content-stick {
            height: 84px;
        }
        .program__img{
            height: 60px;
            width: 60px;
        }
        .teachers-teacher__title {
            font-size: 15px;
            margin-top: 10px;
        }
        .teacher-teacher__bio {
            font-size: 14px;
        }
        .teacher-teacher__bio {
            padding: 5px 15px;
        }
        .teacher-teacher__descr {
            margin: 8px 0 13px;
            font-size: 10px;
            line-height: 15px;
        }
        .footer__descr{
            max-width: 300px;
        }
        .footer__input {
            width: 250px;
            padding: 0 25px;
        }
    }
/* ____________________________________________________________________________ */
    @media (max-width:560px) {
        .earned {
            max-width: 150px;
        }
        .earned__descr, .earned-band, .earned-band-goal, .course-members__link {
            font-size: 9px;
            line-height: 9px;
        }
        .earned__descr span:not(.earned__descr__count) {
            opacity: 0.4;
            margin-right: 5px;
        }
        .earned-band{
            height: 3px;
        }
        .course-buy__title {
            padding: 2px 5px;
            font-size: 10px;
        }
        .square{
            width: 200px;
            height: 200px;
        }
        .About__img {
            margin-top: 25px;
            margin-left: 15px;
            width: 180px;
            height: 180px;
    }
    .about-content {
        margin: 5px 0 0 15px;
    }
    .section__title{
        line-height: 14px;
    }
    .section__descr{
        font-size: 10px;
        line-height: 12px;
    }
    .start-content__square-space {
        margin: 15px 0 20px;
    }
    .start__descr {
        margin: 20px 0 25px;
    }
    .start-content__title {
        font-size: 18px;
    }
    .start-content__square-space {
        margin: 10px 0 15px;
        height: 40px;
    }
    .start__descr {
        margin: 10px 0 15px;
    }
    .teachers-teacher__img {
        max-width: 110px;
    }
    .teachers__content {
        margin-top: 20px;
    }
    .teacher-teacher__descr {
        margin: 4px 0 6px;
    }
    .teacher-teacher__bio {
        font-size: 12px;
        padding: 5px 9px;
    }
    .footer-soc__icon {
        margin-right: 20px;
    }
    .footer-soc {
        margin: 15px 0 20px;
    }
}
/* ____________________________________________________________________________________________ */
@media(max-width:520px) {
    .footer,.teachers,.program,.advantages,.start,.about {
        margin-top: 40px;
    }
    .program-time-left-week {
        margin-top: 35px;
    }
    .program-time-right-week {
        margin-top: 35px;
    }
    .timeline {
        height: 550px;
    }
    .program__title {
        margin: 20px 0 20px;
    }
    .program__descr {
        margin-bottom: 40px;
    }
    .program-time-left-week__content {
        margin-right: 10px;
    }
    .program-time-right-week__content {
        margin-left: 10px;
    }
    .program-time-left__title {
        margin-top: 5px;
        font-size: 12px;
    }
    .program-time-right__title {
        margin-top: 5px;
        font-size: 12px;
    }
    .program-time-left__descr {
        font-size: 10px;
    }
    .program-time-right__descr {
        font-size: 10px;
    }
    .timeline {
        height: 430px;
    }
    .program-time-right-week:first-child {
        margin-top: 55px;
    }
    .program-time-left__title {
        margin-top: 3px;
        font-size: 8px;
    }
    .program-time-right__title {
        margin-top: 3px;
        font-size: 8px;
    }
    .timeline {
        height: 330px;
    }
    
}
/* ____________________________________________________________________________________________ */
@media(max-width:460px) {
    .advantages-content__img {
        width: 50px;
        height: 50px;
    }
    .advantages-content__title {
        font-size: 13px;
        margin: 15px 0 8px;
        line-height: 14px;
    }
    .advantages-content {
        margin-top: 30px;
    }
    .partners-content-stick {
        height: 64px;
    }
    .partners-content__img img {
        width: 70px;
        height: 40px;
    }
    .partners-content__img{
        padding: 10px 0;
    }
    .teachers-teacher__img {
        max-width: 80px;
    }
    .teachers-teacher__title {
        font-size: 12px;
        margin-top: 5px;
    }
    .section__descr {
        font-size: 9px;
        line-height: 12px;
    }
    .teacher-teacher__bio {
        font-size: 10px;
        padding: 2px 5px;
    }
    .teachers__content {
        margin-top: 10px;
    }
    .teachers-teacher{
        margin-left: 10px;
    }
}
/* ____________________________________________________________________________________________ */
    @media(max-width:400px) {
        .square{
            width: 130px;
            height: 130px;
            padding: 10px;
        }
        .About__img {
            margin-top: 15px;
            margin-left: 5px;
            width: 120px;
            height: 120px;
    }
    .btn{
        width: 30px;
        height: 30px;
        top: 15px;
        right: 15px;
    }
    .bars::before, .bars::after, .bars {
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        position: absolute;
        background: #fff;
        transition: 0.5s;
    }
    .bars::before{
        top: -5px;
    }
    .bars::after{
        top: 5px;
    }
    #check:checked ~ .btn {
        border: 1px solid #fff;
    }
    .header__logo img {
        width: 40px;
        height: 40px;
    }
    .header__link{
        padding: 10px 10px;
        font-size: 15px;
    }
    .login__title{
        padding: 5px 10px;
        font-size: 12px;
    }
    .header__nav {
        height: 100vh;
    }
    .header__title {
        font-size: 20px;
        line-height: 18px;
    }
    .earned__descr, .earned-band, .earned-band-goal, .course-members__link {
        font-size: 7px;
        line-height: 7px;
    }
    .course-buy__title {
        padding: 4px;
        font-size: 8px;
        line-height: 10px;
    }
    .about-content {
        margin: 0 0 0 10px;
    }
    .about__container {
        display: flex;
        flex-direction: column;
    }
    .about-content__title {
        margin-bottom: 3px;
    }
    .section__title{
        line-height: 15px;
        font-size: 15px;
    }
    .sction__descr{
        font-size: 7px;
        line-height: 10px;
    }
    .earned-band {
        height: 2px;
    }
    .earned{
        max-width: 120px;
    }
    .advantages-content {
        margin-top: 20px;
    }
    .about {
        margin-top: 20px;
    }
    .About__img {
        margin-top: 30px;
        margin-left: 10px;
        width: 230px;
        height: 230px;
    }
    .square {
        width: 250px;
        height: 250px;
        padding: 20px;
    }
    .about-content {
        margin: 0;
    }
    .program-time-right-week:first-child {
        margin-top: 35px;
    }
    .program-time-left-week {
        margin-top: 20px;
    }
    .program-time-right-week {
        margin-top: 20px;
    }
    .about-content {
        margin-top: 10px;
    }
    .footer__input {
        width: 250px;
        height: 30px;
        margin-left: -75px;
    }
    .footer__button{
        padding: 4px 10px;
        font-size: 13px;
        margin-left: -25px;
    }
    .footer-soc__icon {
        padding: 5px;
    }
    .footer-soc__icon img{
        width: 20px;
        height: 20px;
    }
}
/* ______________________________________________________________________________________ */
@media(max-width:360px) {
    .partners-content__img img {
        width: 50px;
        height: 35px;
    }
    .partners-content__img{
        padding: 5px 0;
    }
    .partners-content-stick {
        height: 49px;
    }
    .teachers-teacher__img {
        max-width: 60px;
    }
    .teachers-teacher__title {
        font-size: 10px;
    }
    .section__descr {
        font-size: 7px;
        line-height: 10px;
    }
    .teacher-teacher__bio {
        font-size: 8px;
        padding: 2px 5px;
    }
    .teachers-teacher {
        margin-left: 5px;
    }
    .footer__descr {
        margin: 10px 0 15px;
        max-width: 250px;
    }
}