*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    line-height: none;
    list-style: none;
}
.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
body{
    background: #242B33;
}
/* Header */
.header{
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(../Images/Header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* header nav */
.header-nav{
    background: #242B33;
    z-index: 10000;
}

.header__btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 6px;
}
.bars{
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    position: relative;
}
.bars::before, .bars::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    transition: 0.5s linear;
}
.bars::before{
    top: -7px;
}
.bars::after{
    top: 7px;
}
.header__btn.active .bars::before{
    top: 0;
    transform: rotate(45deg);
}
.header__btn.active .bars::after{
    top: 0;
    transform: rotate(-45deg);
}
.header__btn.active .bars{
   background: transparent;
}

.header-nav__content{
    padding-top: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-nav-title{
    display: flex;
    flex-direction: column;
}
.header-nav-title__title{
    font-family: 'Post No Bills Jaffna SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}
.header-nav-title__descr{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}
.header-nav__list{
    display: flex;
}
.header-nav__list.active{
    display: flex;
    right: 0;
}
.header-nav__link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-right: 40px !important;
}
.header-nav__link:hover{
    text-shadow: 0 0 10px #fff;
}
.header-nav__link:last-child{
    margin-right: 0;
}
/* header content */
.header-content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-content__title{
    max-width: 556px;
    width: 100%;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
}
.fa-mouse-alt{
    margin: 100px 0 200px;
    font-size: 40px;
    color: #D4C17F;
}
.header-content-contacts{
    padding-bottom: 74px;
    display: flex;
}
.header-content-contacts__descr{
    font-family: 'Raleway';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
.header-content-contacts__descr:first-child{
    margin-right: 100px;
}
.header-content-contacts__descr span{
    font-style: 21px;
    margin-right: 15px;
}
/* main */
/* .main{
    
} */
/* testimonials */
.testimonials{
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.testimonials-content{
    display: flex;
    justify-content: center;
}
.testimonials-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
}
.testimonials-block:last-child{
    margin-right: 0;
}
.testimonials-block__img{
    width: 80px;
    height: 80px;
}
.testimonials-block__descr{
    margin-top: 53px;
    max-width: 193px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.count{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 400px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    opacity: 0.02;
    z-index: -1;
}
.second{
    right: 0;
}
/* appartments */
.appartments{
    position: relative;
    margin-top: 120px;
}
.appartments__title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-bottom: 100px;
}
.appartments__content {
    max-width: 1110px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px,535px));
    grid-gap: 30px;
}
.appartments__content__block{
    position: relative;
}
.appartments__content__block img{
    width: 100%;
}
.appartments__abs{
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.appartments__abs__descr{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 50px;
}
.third{
    top: 138px;
    left: 10px;
}
